rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {

    match /accounts/{account_id} {
      allow list: if false;
      allow create: if false;
      allow get: if request.auth != null && request.auth.uid in resource.data.owners;
      allow update: if false;
      allow delete: if false;

      match /events/{event_id} {
        allow list;
        allow create: if false;
        allow get;
        allow update: if false;
        allow delete: if false;
      }
    }

    match /devices/{device_id} {
      allow list: if false;
      allow create: if false;
      allow get: if false;
      allow update: if false;
      allow delete: if false;
    }

    match /users/{uid} {
      allow list: if false;
      allow create: if false;
      allow get: if request.auth != null && request.auth.uid == uid;
      allow update: if false;
      allow delete: if false;
    }
  }
}
