rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{id} {
    	allow get
      allow create, update
      match /events/{id} {
      	allow read
        allow create
      }
    }
    match /devices/{device_id} {
      allow read, write: if false
    }
  }
}
